.containers {
  display: grid;
  grid-template-columns: 70% 20% 10%;
  border-bottom: rgb(187, 187, 187) solid;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 15px;
  align-items: center;
}
.date {
  margin-right: -100px;
}
.item {
  color: #1d223f;
  font-size: 30px;
}
.tas {
  padding-left: 10%;
}
.btn {
  color: #3c5cbf;
  margin-left: -50px;
  height: 40px;
    width: 161px;

}
.btn:hover{
  background: #F4F5F7;
  color: #3C5CBF;
}

.im {
  width: 20px;
  margin-right: 10px;
}
.v1 {
  border-left: 1px solid rgb(109, 109, 109);
}

.newtask{
  width: 100%;
  border-bottom: rgb(187, 187, 187) solid;
padding-bottom: 10px;
}
.modal-header{
  display: block;
}

.btn-prima{
  background-color: #3C5CBF ;
  color: white;
}




.mod{
  width: 100px;
  height: 45px;
  text-align: center;
}

.cor{
  background-color: #E4E5E9;
  color: #1C223E;
  border: 1px solid #E4E5E9;
  text-align: justify;
  padding-left: 17px;
}

.area{
  height: 150px;
}
.form-control:hover{
  border: #393F57 1px solid;
}
.form-control:focus{
  border: #3C5CBF 1px solid;
  box-shadow: none;
}

input[type=date]::before {
content: "Created:  ";

}
input[type=date] {
 border:#C7CAD1 1px solid;
color: #727888;

}
.modal-dialog{
  margin-top: 17%;
}


.modal-footer{
  display: grid;
 grid-template-columns:  repeat(1,1fr);
 grid-template-rows:  repeat(1,1fr);
 border: 1px solid transparent;
}
.btgrid1{
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0;
  margin-left: 70%;
}
.btngrid2{
  grid-row-start: 1;
      grid-row-end: 1;
      margin: 0;
      margin-left: 0;
}






@media (max-width: 1030px) {
  .containers{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
 }
 .gr1{
  grid-row-start: 1;
  grid-row-end: 1;
}
.gr2{
  grid-row-start: 1;
  grid-row-end: 1;
}
.gr3{
  grid-row-start: 1;
  grid-row-end: 1;
}
  }

@media (max-width: 520px) {
    .containers{
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(2, 1fr);
    }
    .gr1{
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .gr2{
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .gr3{
      grid-row-start: 2;
      grid-row-end: 2;
    }
  
    .btgrid1{
      grid-row-start: 1;
      grid-row-end: 1;
      margin-left: 0;
    }
    .btngrid2{
      grid-row-start: 1;
      grid-row-end: 1;
      margin-right: 100%;
      
    }
    .titlehead{
    padding-left: 4%;

    }

  }

  @media (max-width: 400px) {
    input[type=date]::before {
      content: "";
      
      }
    
  }