.headcont{
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;

  background: white;
}
html{
  background: #F4F5F7;
}
.titlehead{
  background: #f4f5f7;
  padding-bottom: 2%;
  color: #1D223F;
}
.checks {
  width: 25px;
}
.isd {
  display: none;
}
.table-responsive{
  padding-bottom: 50%;
}

.modal.modal-right .modal-dialog {
  max-width: 380px;
  min-height: calc(100vh - 0);
}
.modal.modal-right.show .modal-dialog {
  transform: translate(0, 0);
}
.modal.modal-right .modal-content {
  height: calc(100vh - 0);
  overflow-y: auto;
}
.modal.modal-right .modal-dialog {
  transform: translate(100%, 0);
  margin: 0 0 0 auto;
}
.close{
  font-size: 2.5em;
  color: #717887;
}
.texx{
  color: #1D223F;
  border: 1px solid transparent;
}
.btns{
    width: 100px;
    height: 45px;
}

.btnn{
    background-color: #E4E5E9;
    color: #1D223F;

}

.foote{
    display: grid;
    grid-template-columns: 100% 50%;
    padding-left: 51%;
}
.mdsize{

}
.fuent{
color:#1D223F;
}
.bd{
    outline: none;
    background: white;
    border: 1px solid white;
}
.respos{
  display: flex;
  height: 100vh;
 
}
.modal-header{
  padding: 2rem 1rem;
  border-bottom: 0;
}

.mdgrid0{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15%;
}
.mdgrid1{
  grid-row-start: 1;
      grid-row-end: 1;
}
.mdgrid2{
  grid-row-start: 2;
  grid-row-end: 2;
}
.mdgrid3{
  grid-row-start: 3;
  grid-row-end: 3;
}
.fuentpd{
 padding-top: 5%;
}
.fuentpdd{
padding-top: 10%;
}


@media (max-width: 520px) {
  .colname{
    display: none;
  }
  .mdsize {
   width: 99%; 
  }
  .respos{
    display: flex;
    height: 100vh;
    padding-right: 0;
    padding-left: 5%;
  }
  
}